# Dot file visualisation pictures
cw-stag/config/*.png

# Database persistence directory
cw-db/databases/

maven-wrapper.jar

# Java build directory
target/

# Vim temporary files
*.swp

# IDE directories
.vscode/
